@font-face {
  font-family: vazirmatn;
  src: url(/fonts/webfonts/Vazirmatn-Medium.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body main {
  width: 100%;
  height: 100vh;
}
body main header {
  width: 100%;
  height: 100vh;
}
body main header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  background-color: #f8f8f8;
}
body main header nav a svg {
  width: 102px;
  height: 25px;
}
body main header nav .nav-links {
  display: inline-block;
}
body main header nav .nav-links ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 35px;
}
body main header nav .nav-links ul li {
  font-size: 15px;
  color: #70859c;
  font-family: vazirmatn;
}
body main header nav .nav-links button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 178px;
  height: 44px;
  background-color: #ff5722;
  border: none;
  border-radius: 10px;
}
body main header nav .nav-links button a {
  font-size: 15px;
  color: #fff;
  font-family: vazirmatn;
}
body main header .hero {
  position: relative;
  width: 100%;
  height: 78vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
body main header .hero img {
  width: 100%;
  height: 100%;
}
body main header .hero .mobile {
  width: 25%;
  height: 80vh;
  display: flex;
  position: absolute;
  top: 160px;
  left: 150px;
}
body main header .hero .main-box {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 80%;
  align-self: flex-start;
  padding-right: 185px;
}
body main header .hero .main-box .download-box {
  position: absolute;
  width: 30%;
  height: 90%;
  background-color: rgba(36, 41, 63, 0.5411764706);
  display: flex;
  border-radius: 20px;
  padding: 15px 30px;
}
body main header .hero .main-box .download-box .texts {
  width: 100%;
  height: 30%;
}
body main header .hero .main-box .download-box .texts h1 {
  font-size: 50px;
  color: #fff;
  font-family: vazirmatn;
}
body main header .hero .main-box .download-box .texts h2 {
  font-size: 24px;
  color: #fff;
  font-family: vazirmatn;
}
body main header .hero .main-box .download-box .texts .four-buttons {
  width: 87%;
  height: 55%;
  position: absolute;
  top: 120px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body main header .hero .main-box .download-box .texts .four-buttons .white-button {
  background-color: #fff;
  border: none;
}
body main header .hero .main-box .download-box .texts .four-buttons .white-button a {
  color: #3c525a;
  font-size: 16px;
  font-family: vazirmatn;
}
body main header .hero .main-box .download-box .texts .four-buttons button {
  width: 160px;
  height: 56px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid white;
}
body main header .hero .main-box .download-box .texts .four-buttons button a {
  font-size: 16px;
  color: #fff;
  font-family: vazirmatn;
}
body main header .hero .main-box .download-box .last-button {
  width: 87%;
  height: 60%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
}
body main header .hero .main-box .download-box .last-button button {
  width: 150px;
  height: 56px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid white;
}
body main header .hero .main-box .download-box .last-button button a {
  font-size: 14px;
  font-family: vazirmatn;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
